.card {
  border-radius: 10px;
  padding: 2em;
  height: 5em;
  width: 15em;
  text-align: center;
  background-color: rgb(95, 147, 173);
  color: white;
  margin: 1em;
}

.card div {
  margin-top: 0.5em;
}

.title {
  font-weight: bold;
}
